---
layout: default
---

<p>
  Hello and welcome to this site!
</p>
{% include intro.md %}
<p>
  <a href="{{ site.baseurl }}/a/">Angharad's page</a><br/>
  <a href="{{ site.baseurl }}/c/">Chris's page</a><br/>
  <a href="{{ site.baseurl }}/f/">Family page</a></br>
</p>

<div class="posts">
  <h2>Latest Updates</h2>
  {% for post in site.posts %}
    <article class="post">

      <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.rhys }}: {{ post.title }}</a></h4>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
