h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
}

p {
    font-weight: 300;
}

strong, b {
    font-weight: 500;
}

.year {
    color: $blue;
    font-weight:800;
    font-size: 2em;
}

a.watch-link {
    background-color: $white;
    padding: 5px 5px 5px 15px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 1em;
    border: none;
    border-bottom: 3px solid $white;
    
    &:hover { 
        background-color: $lightBlue;
        border-color: $blue;
        border-bottom: 3px solid $blue;
        border-radius: 3px;
    
        .cliplength {
        }
    }

    &:before {
        content: "\f530";
        padding-right: 10px;
    }
}

 

a.wiki-link {
    padding: 0px 10px;
    display: inline-block;
    border-radius: 1em;
    border-right: 1px solid $blue;
    border-left: 1px solid $blue;

    &:hover {
        background-color: $lightBlue;
    }

    &:before {
        content: "\f35d";
        font-size: 0.7em;
        font-weight: 300;
        padding-right: 6px;
    }
}
  
  a.watch-link:before,
  a.wiki-link:before,
  .cliplength:before {
     font-family: "Font Awesome 5 Free";
     display: inline-block;
     padding-right: 6px;
  }
  
  .cliplength {
    color: $blue;
    display: inline-block;
    border-radius: 1em;
    font-size: 0.7em;
    padding: 3px 10px;
    vertical-align: middle;
    font-style: normal;
    margin-left: 4px;

    &:before {  
        content: "\f017";
        padding-right: 4px;
    }
    
}

